.nav-link {
    color: white !important;
    mix-blend-mode: difference;
}
.nav-link:hover {
    color: white !important;
    mix-blend-mode: difference;
}

.header-nav-icon {
    font-size: 3em;
    color: white;
}
