.site-header {
    background-image: linear-gradient(
            to right,
            transparent 70%,
            #3a4256 70%,
            #3a4256 100%
        ),
        url("../../../images/header-mask.png");
}

.btn-primary {
    background-color: #19d3ae !important;
    border-color: #19d3ae !important;
}
